.videoView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 50px 400px;
  border: 3px whitesmoke solid;
  background-color: blueviolet;
  position: relative;
  border-radius: 30px;
  min-height: 50vh;
}

.media-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

#webcam {
  width: 70vh;
  height: auto;
}