.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 43, 0.8);
  margin-top: 10px;
  width: 90vw;
  max-width: 80vw;
  height: 95vh;
  border-radius: 20px;
  margin-left: 11%;

  z-index: 1;
}

.timer {
  color: white;
}

.rtc-container {
  display: flex;
  max-width: 80vw;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#video-container {
  max-width: 100vw;
  display: flex;
}

.nickname-container {
  display: flex;
}

p {
  color: white;
}

.select-img {
  width: 6vw;
  height: 12vh;
  border-radius: 30px;
}

.select-img:hover {
  border: 4px solid red;
}

.character.disabled .select-img:hover {
  border: none;
}

.character-name > span {
  color: white;
}

.content {
  text-align: center;
  max-width: 75vw;
}

.select-character-page {
  color: white;
}

.web-rtc {
  border: 2px solid white;
  width: 600px;
  height: 150px;
  color: white;
  margin: 0 auto;
}

.character-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 50px;
}

.character-item {
  text-align: center;
  margin: 15px;
}

.character-item > img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-size: cover;
}

.empty-image {
  background-image: none;
}

.select {
  color: white;
  font-size: 12px;
}

.character-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto; /* 수평 마진을 auto로 설정하여 가운데 정렬 */
  background-color: rgba(158, 152, 152, 0.8);
  width: 50vw;
  height: 19vh;
  padding: 5px;
  border-radius: 20px;
  gap: 50px;
}

.character-box > .character {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 10px;
}

.character-box > .box {
  width: 6vw;
}

.ready {
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 10px;
}

.spy-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* 모달창 애니메이션 */
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: all 0.5s;
}
.fade-enter-to {
  opacity: 1;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-active {
  transition: all 0.5s;
}
.fade-leave-to {
  opacity: 0;
}
