.game-board {
  position: relative;
  width: 100%;
  height: 670px;
  /* background-color: rgba(179, 230, 245, 0.202); */
}

.game-board-tile {
  position: relative;
  left: 350px;
  /* background-color: rgba(179, 230, 245, 0.202); */
  width: 600px;
  height: 600px;
}
.game-yut-res{
  position: absolute;
  text-align: center;
  width: 400px;
  height: 400px;
  /* background-color: bisque; */
  top: 200px;
  left: 100px;
  z-index: 1005;
}
.game-yut-text-div{
  position: absolute;
  /* background-color: #93a603; */
  /* border: 1px solid white; */
  border-radius: 15px;
  top: 100px;
  left: 250px;
  z-index: 1005;
}
.game-yut-res-text{
  -webkit-text-stroke: 1px white;
  color:rgb(0, 144, 43);
  font-size: 100px;
  font-weight: 700;
}

.game-board-throw-btn{
  position: absolute;
  top: 330px;
  right: 350px;
  background-image: linear-gradient(to top, #b95600, #ffb574);
  border-radius: 40%;
  width: 200px;
  height: 50px;
  font-size: large;
  box-shadow:.8rem .5rem 1.4rem  #94500b, -.3rem -.4rem .8rem #fcd7ad;
}
.game-board-throw-btn:active {
  /* background-color: #e57f25; 색상 변경 예시 */
  box-shadow: inset -.3rem -.1rem 1.4rem  #94500b, inset .3rem .4rem .8rem #fcd7ad; 
    cursor: pointer;
}

/* 메시지 */
.game-board-turn-message-container{
  background-color: rgba(0, 0, 0, 0.499);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  z-index: 1003;
  top: 250px;
  left: 450px;
  width: 600px;
  height: 90px;
  color: rgb(234, 255, 0);
  text-align: center;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.game-board-modal{
  position: absolute;
  background-color: #BEC5D0;
  z-index: 1005;
  width: 100%;
  height: 100vh;
}

.game-board-timer-container{
  position: absolute;
  display: flex;
  width: 200px;
  right: 350px;
  justify-content: center;
}
.game-board-timer{
  color: black;
  font-size: 100px;
  font-weight: 900;
}
.game-board-timer-five{
  color: red;
}
.game-board-team-turn{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  top: 130px;
  right: 350px;
  flex-direction: column;
  color: black(255, 242, 0);
  text-align: center;
}
.game-board-team-turn-container{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}
.game-board-team-turn-title{
  /* -webkit-text-stroke: 0.2px lightgrey; */
  font-size: 22px;
  font-weight: 600;
}
.game-board-team-turn-red{
  margin-top: 10px;
  font-size: x-large;
  font-weight: 900;
  color: red;
}
.game-board-team-turn-blue{
  margin-top: 10px;
  font-size: x-large;
  font-weight: 900;
  color: blue;
}
/* @keyframes throwEffect {
  0% {
    transform: rotate(0deg) scaleY(1);
  }
  50% {
    transform: rotate(45deg) translateY(-50px) scaleY(-1);
  }
  100% {
    transform: rotate(180deg) scaleY(1);
  }
}

.throw-effect {
  animation: throwEffect 0.5s ease-out;
} */