.card-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 165, 123);
  border-radius: 20px;
  width: 40%;
  height: 50%;
}

.card-title {
  font-size: xx-large;
  font-weight: 600;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 450px;
  justify-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container .card-item:first-child {
  margin-left: 0;
}
.card-item {
  margin-top: 20px;
  background-color: white;
  margin-left: 10px;
  border-radius: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100px;
}

.card-img {
  width: 30px;
}
.card-select{
  border: 3px solid red;
}
.card-item:hover{
  background-color: rgb(255, 121, 121);
}
.card-select-btn {
  background-color: rgb(105, 159, 239);
  width: 80px;
  border-radius: 20px;
  font-weight: bold;
  color: black;
  margin-right: 10px;
}
.card-select-btn:hover{
    background-color: #f44336;
    color: white;
}
