button {
  background-color: #0000008a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}

.login-btn,
.join-btn {
  z-index: 3;
  display: block;
  margin: 5px 0;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  border: none;
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 3em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 80%; /* 왼쪽 마진 추가 */
  font-family: "Palatino Linotype", "Book Antiqua", palatino, serif; /* Press Start 2P 글꼴 적용 */
}

.join-btn {
  padding: 10px 40px;
  margin-bottom: 80%;
}

/* 버튼 호버 효과 */
.login-btn:hover,
.join-btn:hover {
  color: #46c000; /* 글자 색상 변경 */
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur117.cur), auto !important;
}

.login-text,
.join-text {
  margin-bottom: 20px;
  top: -10px; /* 위로 20픽셀 이동, 필요에 따라 조절 가능 */
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", palatino, serif; /* Press Start 2P 글꼴 적용 */
}