#user-name {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-video {
  margin: 10px;
  border-radius: 50px;
}

.mission-modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.mission-btn {
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  justify-content: center;
}

.mission-btn:hover{
  border: 2px solid red;
}

#my-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
