/* 대기 방 채팅 css */
.wait-chat {
  margin-top: 20px;
  background-color: rgba(90, 90, 90, 0.409);
  border-radius: 10px;
  padding: 5px;
  border: 1px solid white;
  width: 27vw;
  height: 22vh;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  height: 120px;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.chat-name {
  width: 80px;
}

.chat-div {
  margin-left: 10px;
  display: flex;
  font-size: 14px;
}
/* 자기 자신은 다른 색으로 구별하였다 */
.my-chat .chat-div {
  color: green;
}

.chat-chat {
  margin-left: 20px;
}
/* 입력 칸 */
.chat-input-div {
  border-radius: 10px;
  border: 1px solid white;
  height: 5vh;
  width: 25vw;
  text-align: left;
  margin-left: 15px;
  color: green;
  display: flex;
  justify-content: space-between;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 20px;
  margin: 3px;
  border-radius: 100px;
  background-color: rgba(72, 27, 222, 0.637);
}

.send-btn:hover {
  background-color: rgb(150, 33, 33);
}

.send-btn > span {
  align-content: center;
}

.chat-input {
  margin-left: 20px;
  width: 17vw;
  background-color: transparent;
  border: none;
  color: white;
}

/* input을 클릭 시 테두리가 있어 제거 */
.chat-input:focus {
  outline: none;
}

/* Chrome, Edge, Safari에서 스크롤바 스타일 설정 */
.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-track {
  background: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
