/* 표 여백 주기 */
.room-list-component {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
  height: 50px;
}

td {
  word-wrap: break-word;
  word-break: break-all;
  max-width: 150px; /* 셀의 최대 너비를 설정 */
}