.room-list {
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 0.8;
  border-radius: 30px;
  padding: 50px 80px;
  box-sizing: border-box;
  color: whitesmoke;
  height: 100%;
}

.room-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

th {
  text-align: left;
  padding-bottom: 30px;
}

h2 {
  padding-bottom: 30px;
}