/* 실제 게임 방 목록 프레임 */
.room-list {
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 0.8;
  border-radius: 30px;
  padding: 50px 80px;
  box-sizing: border-box;
  color: whitesmoke;
}

/* 게임 방 검색 바 */
.room-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 게임 목록 부제목 */
.room-list-subtitle {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

/* 새로고침 돌아가는 효과 */
.rotate-animation {
  animation: rotateAnimation 2s ease;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 실게 게임 목록 스크롤바 지정 */
.room-list-content {
  height: 100%;
  overflow-y: auto;
}

/* 실제 게임 목록 스크롤바 배경 */
.room-list-content::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 배경을 투명하게 설정 */
}

/* 실제 게임 목록 스크롤바 핸드 스타일 */
.room-list-content::-webkit-scrollbar-track {
  background: #888; /* 스크롤바 핸들 색상 설정 */
  border-radius: 10px; /* 스크롤바 핸들 둥근 모서리 설정 */
  
}

/* 실제 게임 목록 스크롤바 핸들 호버 시 스타일 */
.room-list-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* 호버 시 스크롤바 핸들 색상 변경 */
}

/* 실제 게임 목록 스크롤바 너비 설정 */
.room-list-content::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 설정 */
}


/* 게임 방 목록 첫 행 */
th {
  text-align: left;
  padding-bottom: 30px;
}

/* 방 목록 및 세부사항 제목 */
h2 {
  padding-bottom: 30px;
}
