/* 방 클릭시 나오는 상세 정보 프레임 */
.room-detail {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: whitesmoke;
  opacity: 0.8;
  border-radius: 30px;
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;
  min-height: 50vh;
}

/* 방 클릭 시 나오는 상세 정보 프레임 */
.room-detail-content {
  display: flex;
  justify-content: space-between;
}

/* 방 클릭시 나오는 상세 정보 콘텐츠의 부제목 */
.room-detail-subtitle {
  color: #44A9F3;
}

/* .room-detail-content {
  font-size: small;
} */

/* 방 클릭 시 나오는 테마 관련 (그림 및 글) */
.room-detail-theme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 이미지 사진 크기 줄이기 */
img {
  width: 200px;
}

/* 방 클릭시 나오는 상세 정보 참가 버튼 */
button {
  background-color: #2D81FF;
  opacity: 100%;
  border-radius: 50px;
  width: 50%;
  align-self: center;
}

/* 텍스트 정렬 */
p {
  text-align: center;
}
