
.profile-scroll-container {
  max-height: 400px;
  overflow-y: auto;
}

.profile-container {
display: flex;
align-items: center;
}

.profile-image {
  margin-right: 10px;
  position: relative;
}

.profile-image .status {
  position: absolute;
  right: 5px;
  bottom: 7px;
}

.profile-info h4 {
  margin: 0;
  margin-bottom: 5px;
  color: white;
  font-size: 13px;
}

.profile-info p {
  color:rgb(194, 187, 187);
  margin: 0;
  font-size: 12px;
}

.friend-profile {
  width: 60px;
  height: 60px;
}

.profile-scroll-container::-webkit-scrollbar {
width: 12px;
}

.profile-scroll-container::-webkit-scrollbar-thumb {
background-color: rgba(177, 164, 164, 0.5);
border-radius: 4px;
}

.profile-scroll-container::-webkit-scrollbar-track {
background-color: rgba(243, 235, 235, 0.1);
}