* {
  background-color: gray;
}

.img-log {
  width: 100px;
  margin-left: 20px;
}

.nav-bar {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  background-color: #00000000;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
}

/* 텍스트 위한 클래스 */
.text-box {
  margin-left: 50px;
}

.nav-text {
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
}

/* 네비게이션 바 링크에 마우스를 올렸을 때의 스타일 */
.nav-text:hover {
  color: #7EB0F2; /* 마우스 오버 시의 텍스트 색상 */
  transition: background-color 0.3s, color 0.3s; /* 색상 변경에 애니메이션 효과 적용 */
}

/* 프로필 위한 클래스 */
.pro-box {
  margin-left: auto;
}
