.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 45px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 20px;
  width: 300px;
  height: 520px;
  z-index: 1000;
}
.side-btn {
  position: fixed;
  display: flex;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-top-left-radius: 10px;
  width: 300px;
  height: 50px;
  z-index: 1000;
}

.side-title {
  margin-left: 30px;
  margin-top: 10px;
  font-size: xx-large;
  color: white;
  display: flex;
  flex-direction: row;
}
.side-text{
    width: 280px;
}
.side-line {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: white;
}
.side-close{
    width: 20px;
    height: auto;
    margin-right: 10px;
}
.btn {
  background-color: transparent;
  border: none; /* 버튼의 기본 테두리 제거 */
  padding: 0; /* 버튼의 기본 패딩 제거 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  padding-left: 33px;
}

.btn-img {
  width: 40px;
  height: auto;
  display: block;
  margin: auto;
}
