.container {
  flex-direction: column; /* 컨테이너를 세로로 배치 */
  position: absolute;
  top: 14%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.event-container {
  position: relative;
  height: 50%;
  margin: 20px;
}

.article-title {
  position: relative;
  display: flex;
  height: 13%;
}

#patch-title {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 50px;
}

#faq-title {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-right: 80px;
  padding-left: 30px;
}

#detail-btn {
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  align-self: flex-end; /* 버튼을 자신의 영역 아래로 배치 */
}

.article-container {
  position: relative;
  display: flex;
  margin: 20px;
}

#patch,
#faq {
  height: 130%;
  flex: 1; /* 동일한 너비로 나란히 배치 */
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  padding: 5px 8px;
  padding-left: 10px;
  margin-right: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#patch-title,
#faq-title {
  color: white;
  font-size: 25px;
}

#patch > .patch-list,
#faq > .patch-list {
  height: calc(100% - 23px - 31px - 10px);
  display: flex;
  flex-direction: column; /* 내부 요소를 세로로 배치 */
  justify-content: flex-start; /* 내부 요소를 위로 정렬 */
}

#patch > .patch-list > div,
#faq > .patch-list > div {
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
}

#patch > .patch-list > span,
#faq > .patch-list > span {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  font-size: 25px;
  margin: 20px;
}

#gallery{
  object-fit: contain; /* 이미지를 부모 요소에 맞게 조절하고, 잘린 부분을 처리합니다. */
}

.carousel__item {
  max-height: 330px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}