/* 모달 페이드 */
.fade-enter-from {
  /* 시작시 효과 */
  opacity: 0;
}

.fade-enter-active {
  /* 전체 단계에서 적용될 부분*/
  transition: all 0.5s;
}

.fade-enter-to {
  /* 끝나는 효과 */
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}

.fade-leave-active {
  transition: all 0.5s;
}

.fade-leave-to {
  opacity: 0;
}

@keyframes spinAndMove {
  0% {
    opacity: 1;
    transform: translateX(300px) translateY(300px) rotate(0deg);
  }
  10%,
  20% {
    opacity: 1;
    transform: translateY(-150px) rotate(180deg);
  }
  20%,
  30% {
    opacity: 1;
    transform: translateY(150px) rotate(360deg);
  }
  30%,
  40% {
    opacity: 1;
    transform: translateY(-150px) rotate(180deg);
  }
  50%,
  60% {
    opacity: 1;
    transform: translateY(150px) rotate(120deg);
  }
  60%,
  70% {
    opacity: 1;
    transform: translateY(150px) rotate(120deg);
  }
  70%,
  80% {
    opacity: 1;
    transform: translateY(150px) rotate(120deg);
  }
  80%,
  90% {
    opacity: 1;
    transform: translateY(150px) rotate(120deg);
  }
  90%,
  100% {
    opacity: 1;
    transform: translateX(-50%) rotate(360deg);
    box-shadow: 0 0 10px rgb(171, 171, 171);
  }
}

/* 애니메이션 클래스 */
.animated {
  animation: spinAndMove 10s ease-in-out; /* 애니메이션 지속 시간 및 이징 설정 */
}

/* 이미지의 초기 위치와 스타일 설정 */
.game-image {
  position: absolute;
  top: 2%;
  left: 20%;
  transform: translateX(-50%);
}

.button-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}

.login-btn,
.join-btn {
  z-index: 3;
  display: block;
  margin: 5px 0;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  border: none;
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 3em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 80%; /* 왼쪽 마진 추가 */
  font-family: "Palatino Linotype", "Book Antiqua", palatino, serif; /* Press Start 2P 글꼴 적용 */
}

.join-btn {
  padding: 10px 40px;
  margin-bottom: 80%;
}

/* 버튼 호버 효과 */
.login-btn:hover,
.join-btn:hover {
  color: #46c000; /* 글자 색상 변경 */
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur117.cur), auto !important;
}
