/* canvas 요소의 스타일과 위치 설정 */
#canv {
    position: absolute; /* 절대 위치 지정 */
    top: 0; /* 상단에 배치 */
    left: 0; /* 왼쪽에 배치 */
}

/* 이미지 컨테이너 요소의 스타일과 위치 설정 */
.image-container {
    position: absolute;
    top: 50%; /* 상단에서 중앙에 배치 */
    left: 50%; /* 왼쪽에서 중앙에 배치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
}