.nickname-text {
  margin-bottom: 5px;
  top: -10px;
  color: rgb(19, 19, 19);
  font-weight: bold;
}

.button-container {
  margin: 20px;
}

.modal {
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.modal-content {
  background-color: #f9f9f9;
  margin: 5% auto;
  padding: 20px;
  border: 4px solid #343232;
  border-color: white;
  border-radius: 10px;
  width: 300px;
  height: 140px;
  text-align: center;
  transform: translateY(-50px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  color: black;
}

input[type="text"] {
  width: 75%;
  padding: 10px;
  border-radius: 10px;
}

.modal-change-nickname-btn {
  background-color: rgb(105, 159, 239);
  border-radius: 20px;
  font-weight: bold;
  color: black;
}

.modal-change-nickname-btn:hover {
  background-color: #f44336;
  color: white;
}

.ok {
  background-color: rgb(105, 159, 239);
  border-radius: 20px;
  font-weight: bold;
  color: black;
  margin: 10px;
}

.cancel {
  background-color: rgb(237, 60, 37);
  border-radius: 20px;
  font-weight: bold;
  color: black;
  margin: 10px;
}

.exclamation {
  width: 50px;
  height: 50px;
}

.ch {
  width: 50px;
  height: 50px;
}
