.password-box {
  margin-top: 20px;
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.change-password {
  display: flex;
  align-items: center;
  justify-content: center; /* 왼쪽 정렬 */
  color: white;
  font-weight: bold;
}

.password-input {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.change-password-input {
  width: 300px;
  height: 25px;
  margin: 10px;
  border-radius: 10px;
}

.change-password-btn {
  background-color: rgb(63, 63, 241);
  border-radius: 25px;
  font-weight: bold;
  margin-top: 8px;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}